@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fuentes personalizadas como respaldo */
@font-face {
  font-family: 'Sunday';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/sunday/v1/0QIvMX1D_KO3K4RptqM3LhJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
}

@font-face {
  font-family: 'Homemade Apple';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/homemadeapple/v18/Qw3EZQFXECDrI2q789EKQZJob0x6XHgOjQ.woff2) format('woff2');
}